@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Work+Sans:wght@500;600&display=swap')
    
html 
    body 
        margin: 0
        font-family: 'Open Sans', sans-serif
        //font-family: 'Work Sans', sans-serif;
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        background: #00000005 

code 
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace

header
    height: 80px !important
    background: #FFFFFF 0% 0% no-repeat padding-box !important
    box-shadow: 0px 0px 10px #0000001A 
    opacity: 1
    padding: 8px 32px !important
    .search
        text-align: right
        input
            background: transparent
            color: #000
            &::placeholder
                color: rgba(42, 49, 75, 0.3)
        .ant-input-affix-wrapper
            background: #f9f9fa
            border-radius: 15px
            border-color: #f9f9fa

section
    background: transparent !important

aside
    background: #2A314B 0% 0% no-repeat padding-box
    opacity: 0.02
    color: #2A314B !important