@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Work+Sans:wght@500;600&display=swap')

html 
    body 
        margin: 0
        font-family: 'Open Sans', sans-serif
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        background: #00000005 

code 
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

header
    height: 80px !important
    background: #FFFFFF 0% 0% no-repeat padding-box !important
    box-shadow: 0px 0px 10px #0000001A 
    opacity: 1
    padding: 8px 32px !important
    z-index: 2 !important
    .search
        text-align: right
        input
            background: transparent
            color: rgba(42, 49, 75, 1)
            &::placeholder
                color: rgba(42, 49, 75, 0.3)
        .ant-input-affix-wrapper
            background: #f9f9fa
            border-radius: 15px
            border-color: #f9f9fa
            .ant-input-prefix
                width: 20px
                margin: 0px 17px 0px 8px

section
    background: transparent !important
    main
        padding: 34px 36.76px 0 32px
        .ant-tabs-bar
            border-bottom: 1px solid rgba(42, 49, 75, 0.1)
            margin: 0 0 28px 0
            .ant-tabs-nav 
                .ant-tabs-tab
                    text-transform: uppercase
                    font-family: 'Work Sans', sans-serif
                    font-size: 14px
                    line-height: 16px
                    padding: 0 0 17px 0
                .ant-tabs-tab-active 
                    font-weight: 600
                    color: #33c5f3
        .ant-tabs-content  
            .ant-col-5 
                -ms-flex: 0 0 20% !important
                flex: 0 0 20% !important
                max-width: 20% !important
            .product-box   
                cursor: pointer
                .img
                    background: #FFF
                    border: 1px solid rgba(0, 0, 0, 0.1)
                    padding: 21px 20.24px 20px 21px
                    text-align: center
                    border-radius: 10px
                    margin-bottom: 11px
                    img
                        width: 100%
                .infos
                    h2
                        font-weight: 600
                        line-height: 19px
                        margin-bottom: 0
                        font-size: 14px
                    .price
                        font-size: 14px
                        line-height: 19px
                        color: rgba(42, 49, 75, 0.4)

    aside
        background: rgba(42, 49, 75, 0.02) !important
        color: #2A314B !important
        padding: 25px 32px 0 30px
        .heading
            padding-bottom: 18px
            border-bottom: 1px solid rgba(42, 49, 75, 0.1)
            h3
                color: #33C5F3
                font-size: 18px
                line-height: 24px
                font-weight: 600
                margin-bottom: 0
            img
                margin-top: -1px
        .empty-cart
            padding-top: 233px
            color: rgba(42, 49, 75, 0.4)
            img
                margin-bottom: 33.29px
                
        .wish-list
            padding: 0
            list-style: none
            margin: 0
            height: 450px
            overflow: auto
            li
                border-bottom: 1px solid rgba(42, 49, 75, 0.1)
                padding: 20px 0
                .img
                    display: block
                    background: #FFF
                    border: 1px solid rgba(0, 0, 0, 0.1)
                    text-align: center
                    border-radius: 5px
                    overflow: hidden
                    margin-right: 11.76px
                .infos 
                    span 
                        display: block
                    .title
                        font-size: 14px
                        margin-bottom: 6.57px
                        color: rgba(42, 49, 75, 0.6)
                        line-height: 20px
                    .ant-input-number
                        background: transparent
                        border-color: rgba(0, 0, 0, 0.1)
                        width: 62.6px
                        border-radius: 5px
                        input
                            font-family: 'Work Sans', sans-serif
                            font-weight: 600 
                            color: rgba(42, 49, 75, 0.8)
                            text-align: center
                .action
                    text-align: right
                    margin-left: 7px
                    span
                        display: block
                    .price
                        font-weight: 600 
                        color: rgba(42, 49, 75, 0.8)
                        margin-bottom: 11.57px
                    .remove
                        font-size: 12px
                        color: rgba(235, 82, 36, 1)
                        text-transform: uppercase
                        cursor: pointer
            li:last-child
                border: 0

        .wish-list-footer 
            .ant-col-24 
                padding: 20px 0
                border-top: 1px solid rgba(42, 49, 75, 0.1)
                .ant-col
                    .line
                        display: block
                    .line:first-child
                        padding-bottom: 6.57px
                    
            .subtotal
                color: rgba(42, 49, 75, 0.6)
                .price
                    color: rgba(42, 49, 75, 0.8)
                    font-weight: 600
                    text-align: right
                .shipping
                    color: rgba(0, 198, 144, 1)
                    font-weight: 600
                    text-align: right
            .total
                font-size: 18px
                color: rgba(42, 49, 75, 0.6)
                line-height: 1
                padding-bottom: 16px
                .price
                    color: rgba(42, 49, 75, 0.8)
                    font-weight: 600
                    text-align: right
            .btn
                .ant-btn-round.ant-btn-lg 
                    height: auto
                    border-color: rgba(51, 197, 243, 1)
                    background: rgba(51, 197, 243, 1)
                    line-height: 18px
                    padding: 11px 18.85px 14px 15.5px
                    font-size: 16px
                    font-weight: 600
                    border-radius: 10px !important
                    box-shadow: 0px 0px 10px rgba(51, 197, 243, 0.4)
        
.product-detail 
    border-radius: 5px
    overflow: hidden
    .img 
        background: #FFF
        border: 1px solid rgba(0, 0, 0, 0.1)
        padding: 21px 20.24px 20px 21px
        text-align: center
        border-radius: 10px
        margin-bottom: 27px
        img 
            width: 100%
    .infos
        span
            display: block
        .title 
            font-weight: 600
            line-height: 22px
            margin-bottom: 0
            font-size: 16px
            color: rgba(42, 49, 75, 0.6)
        .desc
            font-size: 14px
            line-height: 19px
            color: rgba(42, 49, 75, 0.4)
            padding: 10px 0 8px 0 
        .price
            font-size: 18px
            line-height: 24px
            color: #00C690
            font-weight: 600
    .ant-modal-header
        padding: 0px 28px 0px 27px
        color: rgba(0, 0, 0, 0.65)
        background: #fff
        border-bottom: 0
        border-radius: 0
        .ant-modal-title
            margin: 0
            padding: 20px 0 21px
            color: rgba(42, 49, 75, 0.6)
            font-weight: 600
            font-size: 18px
            line-height: 24px
            word-wrap: break-word
    .ant-modal-close 
        top: 25px
        right: 29.5px
        .ant-modal-close-x
            width: auto
            height: auto
            line-height: initial
            font-size: 12px

    .ant-modal-body 
        padding: 0px 28px 27px 27px

    .ant-modal-footer 
        text-align: initial
        padding: 18px 28px 18px 25px
        .ant-btn-round.ant-btn-lg 
            height: auto
            border-color: rgba(51, 197, 243, 1)
            background: rgba(51, 197, 243, 1)
            line-height: 18px
            padding: 11px 18.85px 14px 15.5px
            font-size: 15px
            font-weight: 600
            border-radius: 10px !important
            box-shadow: 0px 0px 10px rgba(51, 197, 243, 0.4)
        .ant-input-number
            height: 45px
            border-color: rgba(0, 0, 0, 0.1)
            border-radius: 5px
            overflow: hidden
            .ant-input-number-handler-wrap
                position: absolute
                top: 0
                right: 0
                width: 100%
                z-index: 1
                height: 100%
                border: 0
                border-radius: 0
                opacity: 1
                -webkit-transition: none
                transition: none
                .ant-input-number-handler-up
                    border-top-right-radius: 2px
                    cursor: pointer
                    right: 0
                    height: 100%
                    width: 26px
                    position: absolute
                    border: 0
                .ant-input-number-handler-down 
                    top: 0
                    border-top: 0
                    border-bottom-right-radius: 2px
                    cursor: pointer
                    left: -4px
                    height: 100%
                    width: 26px
                    border: 0

        .ant-input-number-input-wrap
            z-index: 1
            position: relative
            margin: 0 auto
            display: block
            width: 34px
            input 
                height: 45px
                text-align: center
                color: rgba(42, 49, 75, 0.8)
                font-family: 'Work Sans', sans-serif
                font-size: 18px 

